// Breckpoint variavle
$breakpoint-extra-large: 120rem;
$breakpoint-large: 99.2rem;
$breakpoint-medium: 76.8rem;
$breakpoint-small: 60rem;


// Color Variale
$primary-color: #ff4522;
$white-color: #ffffff;
$black-color: #000;
$dark-color: #161616;
$heading-color: #2a2a2a;
$text-color: #7e7a7a;

// Font Variable
$my-font: 'Sora',
sans-serif;